<div class="container fixed"> 
  <button type="button" class="btn btn-primary btn-sm" (click)="add()" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    Add Employee
  </button>
  <button class="btn btn-primary btn-sm about-button" (click)="onAboutClick()">About</button>
  <button class="btn btn-primary btn-sm about-button" (click)="onHomeClick()">Home</button>
  <input type="text" placeholder="Search by Emp-Name" [(ngModel)]="searchText" >
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title edit" id="exampleModalLabel">Fill Employee Details</h5>
      </div>
      <div class="modal-body">
        <app-add-employee 
            *customNgIf="toggle" 
            (cancelEmp)="cancelEmployee()" 
            (addEmp)="addEmployee($event)">
        </app-add-employee>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.employee.length===0 && !aboutPageVisible; else elseBlock">
  No Employees to show Please Add Employee
</div>

<ng-template #elseBlock >
  <!--This below filter is Custom Pipe, This can add load to angular App as it became Impure Pipe-->
  <div *ngFor="let emp of employee | filter:searchText:'name'">

    <!--Instead of Custom Filter you can use this-->
    <!-- <div *ngIf= "(this.searchText === '' || emp.name.toLowerCase().includes(searchText)) && !aboutPageVisible"> -->

    <div *ngIf="!aboutPageVisible">
      <app-employee-details
          [emp]="emp" 
          (employeeDetails)="employeeDelete($event)" 
          (employeeEdit)="employeeEdit($event)">
      </app-employee-details>
    </div>
  </div>
</ng-template>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title edit" id="exampleModalLabel">Edit Employee Details</h5>
      </div>
      <div class="modal-body">
        <app-edit-employee 
            [editEmp]="editEmployee" 
            *ngIf="enableEdit" 
            (cancelEdit)="editCancel()"
            (editedEmp)="empEdited($event)">
        </app-edit-employee>
      </div>
    </div>
  </div>
</div>

<app-about *customNgIf="aboutPageVisible"></app-about>
